.App {
  min-height: 100vh;
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  color: white;
}

.title {
  margin: 30px;
}

.cidr-input {
  margin: 30px;
  text-align: center;
  font-size: 30px;
}

.cidr-output {
  margin: 30px;
}

.output-row {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.output-left {
  width: 250px;
}

.cidr-error {
  color: rgb(255, 122, 122);
}