.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  margin: 30px;
}

.cidr-input {
  margin: 30px;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.cidr-output {
  margin: 30px;
}

.output-row {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.output-left {
  width: 250px;
}

.cidr-error {
  color: rgb(255, 122, 122);
}