body {
  margin: 0;
  font-family: 'Courier Prime', 'Courier', 'Helvetica', 'Times';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ol, ul {
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
	border: 0;
}